.actions{
  display:flex;
  justify-content:center;
  align-items:center;
  gap:10px;
  margin-top:8px;
}

.viewbtn,
.cartbtn{
  padding:6px 14px;
  border:2px solid #2F5F5A;
  background:white;
  color:#2F5F5A;
  border-radius:6px;
  font-size:14px;
  cursor:pointer;
}

.viewbtn:hover,
.cartbtn:hover{
  background:#2F5F5A;
  color:white;
}

.wish{
  font-size:20px;
  cursor:pointer;
  color:#333;
}
